@import page1

h1 
  color:white
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif
  font-size: 1.8em
  font-weight: 400
  margin: 0



.doc
  
  margin: 3em 0
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif
  font-size: 1.1em
  font-weight: 300

body 
  @extend .doc
  background-color: black
  text-align: center
  color: darkred
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif
  font-size: 1em