---
title: ROYAL ENFIELD
---

<div class="welcome">
  <div class="logo">
    <%= image_tag "s1.jpg" %>
  </div>
  <h1>Royal enfield is here</h1>
  <p class="doc">
    <%= link_to "STANDARD", "STANDARD.html", target: "_blank" %>
    <%= link_to "CLASSIC", "CLASSIC.html", target: "_blank" %>
    <%= link_to "THUNDERBIRD", "thunder.html", target: "_blank" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
