\---
title: ROYAL ENFIELD
\---
.welcome
  .logo
    = image_tag "s1.jpg"
  %h1 Royal enfield is here
  %p.doc
    = link_to "STANDARD", "STANDARD.html", target: "_blank"
    = link_to "CLASSIC", "CLASSIC.html", target: "_blank"
    = link_to "THUNDERBIRD", "thunder.html", target: "_blank"
  / .doc
/ .welcome
