%body{:style => "background-color:black;"}
  %h1{:style => "color:blue;"} ROYAL ENFIELD- STANDARD
  = image_tag "s1.jpg"
  %p{:style => "color:red;"}
    Royal enfield standard 350 available in black colour.
    %br/
    Traditional design and tank badge.
    %br/
    Hardly cast iron engine.
    %br/
    Flat line seat.
