%body{:style => "background-color:black;"}
  %h1{:style => "color:green;"} ROYAL ENFIELD- THUNDERBIRD
  = image_tag "s3.jpg"
  %p{:style => "color:red;"}
    Royal enfield thunderbird available in grey,black colour.
    %br/
    Traditional design and tank badge.
    %br/
    Hardly cast iron engine.
    %br/
    Flat line seat.
