<body style="background-color:black;">
<h1 style="color:yellow;">ROYAL ENFIELD- CLASSIC </h1>

<%= image_tag "s2.png" %>
<p style="color:red;">
    Royal enfield classic available in black, blue,grey colour.
    <br/>
    Traditional design and tank badge.
    <br/>
    Hardly cast iron engine.
    <br/>
    Flat line seat.
</p>    
</body>