!!!
%html
  %body
    %p
      \---
      title: REALESTATE
      \---
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    / The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    / Bootstrap
    %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "site.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}/
    %link{:href => "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", :rel => "stylesheet"}/
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"}
    %script{:src => "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"}
    / HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    / WARNING: Respond.js doesn't work if you view the page via file://
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    %nav.navbar.navbar-default.navbar-fixed-top
      .container
        %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toogle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.glyphicon.glyphicon-map-marker{:span => ""} 34234 Golf Course Road,Avenue,US
        %a.glyphicon.glyphicon-envelope{:span => ""} mail@yourdomain.com
        .navbar-collapse.collapse
          .nav.navbar-nav.navbar-right
            %i#icon1.fa.fa-facebook
            %i#icon1.fa.fa-twitter
            %i#icon1.fa.fa-google-plus
            %i#icon1.fa.fa-linkedin
            %i#icon1.fa.fa-yahoo
    %nav{:class => "navbar-inner>"}
      .panel-body
        %h1{:style => "color:blue;"}
          %a>
            %span.glyphicon.glyphicon-home
          REAL
          %b ESTATE
        .ear
          %p
            %span.glyphicon.glyphicon-earphone 24x7 Support Number+9800460300
        .butt
          %button.btn.btn-default{:type => "button"} LOGIN
          %button.btn.btn-default{:type => "button"} REGISTER
    %ul.nav.nav-pills
      %li{:role => "presentation"}
        %a.active{:href => "#home"} HOME
      %li{:role => "presentation"}
        %a{:href => "#"} PROPERTIES
      %li{:role => "presentation"}
        %a{:href => "#"} AGENTS
      %li{:role => "presentation"}
        %a{:href => "#"} NEWS
      %li{:role => "presentation"}
        %a{:href => "#"} CONTACTS
      %li{:style => "float:right"}
        %a.active{:href => "#about"} SELL/RENT PROPERTY HERE
    .row
      .col-md-4
        .panel.panel-default
          .panel-heading
            %h4
              %i#icon3.fa.fa-fw.fa-check
              Creative Design
          .panel-body
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias
              at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?
      .col-md-4
        .panel.panel-default
          .panel-heading
            %h4
              %i#icon3.fa.fa-fw.fa-eye
              Retina Ready
          .panel-body
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias
              at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?
      .col-md-4
        .panel.panel-default
          .panel-heading
            %h4
              %i#icon3.material-icons desktop_windows
              Best For Responsive
          .panel-body
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias
              at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?
    .row
    .bgrd
      .row
        .col-md-6
          .container-fluid
            %iframe{:height => "500", :src => "https://www.youtube.com/embed/AS8tBZZgO1U", :width => "650"}
        .col-md-6
          %h1
            %b WELCOME TO REALESTATE!!
          %p{:style => "font-size:130%;  font-family:Times New Roman, Times, serif;"}
            Common real estate terms include "appraisal", which is valuing a property based on sales of similar properties, and
            "earnest money," "escrow" and "closing." Earnest money is a good-faith deposit to hold a property. Escrow refers
            to holding this deposit in trust prior to finalizing the sale, which is at closing. Appraisals provide a basis
            for establishing a sales price or to justify a purchase price when applying for financing of a home purchase. Earnest
            money is usually a relatively small amount of money, which is forfeited if the buyer decides not to purchase for
            reasons beyond the agreed ones.
            Funds or documents are in escrow until certain conditions are met. For example, earnest money is held in escrow by the real
            estate agent until a property inspection is completed and financing secured. Similarly, funds earmarked to pay
            a property's real estate taxes are held in escrow by a lender until they come due.
            Closing, also known as settlement, is the meeting at which a sale of property is finalized, down payments made and sale documents
            signed. In some states, closing is the time at which the sale is legally recorded. Closing costs are costs associated
            with the sale of the property but independent of the agreed purchase price, such as the real estate agent's commission
            and title transfer costs.
    .row
    .col-md-6
      %h3
        %b OUR SKILLS
      .container-fluid
        .progress
          .progress-bar.progress-bar-info{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "90", :role => "progressbar", :style => "width:90%"}
            Photoshop 90%
        .progress
          .progress-bar.progress-bar-info{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "85", :role => "progressbar", :style => "width:85%"}
            HTML 85%
        .progress
          .progress-bar.progress-bar-info{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "87", :role => "progressbar", :style => "width:87%"}
            CSS 87%
        .progress
          .progress-bar.progress-bar-info{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "60", :role => "progressbar", :style => "width:60%"}
            PHP 60%
    .col-md-6
      %h3
        %b OUR MISSIONS
      .container-fluid
        .dropdown
          %button.btn.btn-primary.dropdown-toggle.drop{"data-toggle" => "dropdown", :type => "button"}
            Lorem ipsum dolor sit amet
            %span.caret
          %ul.dropdown-menu.drop
            %li
              %a{:href => "#"} hgjhghhshhjhdndjhd xhsjbshbh bhsxbhgbjhsfdjjjjjjjjjjdgv ndddddddddgjhghjbjnbhghhhhhhhhjkkkkkkkkkkkkggggggggg
        .dropdown
          %button.btn.btn-primary.dropdown-toggle.drop{"data-toggle" => "dropdown", :type => "button"}
            Lorem ipsum dolor sit amet
            %span.caret
          %ul.dropdown-menu.drop
            %li
              %a{:href => "#"} hgjhghhshhjhdndjhd xhsjbshbh bhsxbhgbjhsfdjjjjjjjjjjdgv ndddddddddjhghjbjnbhghhhhhhhhjkkkkkkkkkkkkggggggggg
        .dropdown
          %button.btn.btn-primary.dropdown-toggle.drop{"data-toggle" => "dropdown", :type => "button"}
            Lorem ipsum dolor sit amet
            %span.caret
          %ul.dropdown-menu.drop
            %li
              %a{:href => "#"} hgjhghhshhjhdndjhd xhsjbshbh bhsxbhgbjhsfdjjndddddddddddhuhjknjhgjhghjbjnbhghhhhhhhhjkkkkkkkkkkkkggggggggg
    .row
    %h3
      %b OUR TEAM
    .col-sm-3.text-center
      .imageWrapper{:style => "position: relative; width: 195px; height: 195px;"}
        %img{:alt => "..", :height => "..style=\"position:", :relative => "", :src => "th.jpg ", :width => "..", "z-index:" => ""}/
        %i#icon2.fa.fa-facebook{:alt => "..", :height => "..", :style => "position: absolute;left:30px; top: 110px;z-index: 10;", :width => ".."}
        %i#icon2.fa.fa-twitter{:alt => "..", :height => "..", :style => "position: absolute;left:60px; top: 110px;z-index: 10;", :width => ".."}
        %i#icon2.fa.fa-google-plus{:alt => "..", :height => "..", :style => "position: absolute;left:98px; top: 110px;z-index: 10;", :width => ".."}
        %i#icon2.fa.fa-linkedin{:alt => "..", :height => "..", :style => "position: absolute;left:140px; top: 110px;z-index: 10;", :width => ".."}
        %p
          %strong A R Rahman
        %p{:style => "color:blue;"} Founder
        %br/
    .col-sm-3.text-center
      %img{:alt => "Random Name", :src => "th9.jpg"}/
      %p
        %strong Abdul Kalam
      %p{:style => "color:blue;"} Founder
      %br/
    .col-sm-3.text-center
      %img{:alt => "Random Name", :src => "th7777.jpg"}/
      %p
        %strong Dulquar
      %p{:style => "color:blue;"} Founder
      %br/
    .col-sm-3.text-center
      %img{:alt => "Random Name", :src => "th4.jpg"}/
      %p
        %strong Sachin
      %p{:style => "color:blue;"} Founder
      %br/
    .row
    %h3
      %b OUR CLIENTS
    .greys
      .col-sm-2.text-center
        %img{:alt => "Random Name", :src => "s2.jpg"}/
      .col-sm-2.text-center
        %img{:alt => "Random Name", :src => "s2.jpg"}/
      .col-sm-2.text-center
        %img{:alt => "Random Name", :src => "s2.jpg"}/
      .col-sm-2.text-center
        %img{:alt => "Random Name", :src => "s2.jpg"}/
      .col-sm-2.text-center
        %img{:alt => "Random Name", :src => "s2.jpg"}/
      .col-sm-2.text-center
        %img{:alt => "Random Name", :src => "s2.jpg"}/
    .bgrd2
      .row
    .bgrd3
      .row
      .container-fluid
        .col-md-3
          %h4{:style => "color:white;"} NEWSLETTER
          %p#clr
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            
            Duis sed nisi semagna, in mmdhdjg.
          %form.form-inline
            %input.form-control{:placeholder => "Email Address", :size => "20", :type => "email"}/
            %a.btn.btn-info.btn-lg{:href => "#"}
              %span.glyphicon.glyphicon-arrow-right
          %h4{:style => "color:white;"} FOLLOW US
          .nav.navbar-nav.navbar-left
            %i#icon1.fa.fa-facebook
            %i#icon1.fa.fa-twitter
            %i#icon1.fa.fa-google-plus
            %i#icon1.fa.fa-linkedin
            %i#icon1.fa.fa-yahoo
        .col-md-2
          %h4{:style => "color:white;"} WHY CHOOSE US?
          %p#clr &gt; Etiam congue leo egets
          %p#clr &gt; Ursus el a nish. Cutanj
          %p#clr &gt; Orem auctir, tincid
          %p#clr &gt; Rhonus dui. Aenan purus
          %p#clr &gt; Agittios quis nulla
        .col-md-5
          %h4{:style => "color:white;"} GALLERY
          .container-fluid
            %table.w3-table.table-bordered
              %tbody
                %tr
                  %td
                    %img.img-responsive{:alt => "Random Name", :src => "p5.jpg"}/
                  %td{:height => "10%"}
                    %img.img-responsive{:alt => "Random Name", :src => "p16.jpg"}/
                  %td
                    %img.img-responsive{:alt => "Random Name", :src => "p6.jpg"}/
                %tr
                  %td
                    %img.img-responsive{:alt => "Random Name", :src => "p7.jpg"}/
                  %td
                    %img.img-responsive{:alt => "Random Name", :src => "p9.jpg"}/
                  %td
                    %img.img-responsive{:alt => "Random Name", :src => "p3.jpg"}/
        .col-md-2
          %h4{:style => "color:white;"} PROPERTY TYPE
          %p#clr &gt; Dhe Etiam congue leoets
          %p#clr &gt; Tfdhm el a nish. Cutanj
          %p#clr &gt; Quea auctir, tincid
          %p#clr &gt; Foucs dui. Aenan purus
          %p#clr &gt; Mogitios quis nulla
    .bgrd4
      %footer.container
        %p
          Copyright © 2015 REALESTATE.All Rights Reserved.
    / jQuery (necessary for Bootstrap's JavaScript plugins)
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"}
    / Include all compiled plugins (below), or include individual files as needed
    %script{:src => "js/bootstrap.min.js"}
