@charset "utf-8";


.navbar-inner
{
    background-color:green;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:darkblue;
}



li {
    float: left;
}

li a {
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}


.ear{
    padding-top: 2px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 900px;

}

.butt{
    padding-top: 2px;
    padding-right: 20px;
    padding-left: 1100px;
}


.drop{

    width: 100%;
}

.greys{
    -webkit-filter: grayscale(90%);
    
    filter: grayscale(90%);
}

.bgrd{
    background-color: ghostwhite;
    padding-top: 50px;
    padding-left: 40px;
    
    padding-bottom: 50px;
}


#icon1{
      background-color: white;
      border-radius: 100%;
      font-size: 20px;
      border: 1x  white;
      padding:10px;
     
   }
  
#icon2{
      background-color: dodgerblue;
      border-radius:100%;
      border: 1x  white;
      padding:0px;
     
   }

   #icon3{
      background-color: dodgerblue;
      border-radius:100%;
      border: 1x  white;
      padding:0px;
     
   }

   td{
       width: 30%;
   }

   .bgrd2{
    background-color: white;
    padding-top: 50px;
    padding-left: 40px;
    
    padding-bottom: 100px;
}

.bgrd3{
    background-color: royalblue;
    padding-top: 50px;
    padding-left: 40px;
    height: 350px;
    padding-bottom: 100px;
}


#clr{

    color: white; 
}


table{
    border: 0px;
}

.bgrd4{
    background-color: darkgrey;
    padding-top: 20px;
    padding-left: 40px;
    height: 50px;
    padding-bottom: 50px;
}
